        <div class="list-group col-md-8" >
            <a href="#" class="list-group-item" ng-repeat="article in newsCon.articles | orderBy:'-date'" ng-show="list.isSelected(3)"> 
                {{article.title}}
                <p class="pull-right">{{article.date}}</p>
            </a>
            <a href="#" class="list-group-item" ng-repeat="article in newsCon.articles | orderBy:'date'" ng-show="list.isSelected(1)"> 
                {{article.title}}
                <p class="pull-right">{{article.date}}</p>
            </a>
        </div>